@import '../theme/defaultTheme';

$img-width: 50rem;
$font-size: 1.3rem;
$container-border-radius: .5rem;

.cityCards { // The container for all the tour cards
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    width: $img-width;
}
    .cardContainer { // The container for each individual tour card 
        background-color: $cityCards;
        display: inline-flex;
        flex-direction: column;
        margin: $img-width*0.03 0;
        margin: 0;
        box-shadow: 0 0 2rem darkgray;
        border-radius: $container-border-radius;
        margin-bottom: 3rem;
    }
        .image { // CSS for each image
            width: 100%;
            display: flex;
            object-fit: cover;
            width: $img-width;
            height: $img-width/2;
            padding: 0;
            border-radius: $container-border-radius $container-border-radius 0 0;
        }
        .textContainer { // The container for all the text in each tour card
            padding: 1rem 2rem 1.5rem 2rem;
        }
            .tourName { // CSS for the name of the tour
                color: $offBlack;
                font-weight: 700;
                font-size: $font-size*1.08;
                display: inline-flex;
            }
            .price { // CSS for the price of each tour
                color: $priceBlue;
                background-color: $bodyBackground;
                font-weight: 700;
                font-size: $font-size;
                display: inline-flex;
                float: right;
                letter-spacing: .1rem;
                padding: .3rem;
                border-radius: .25rem;
            }
            .info { // CSS for the information in each tour card
                color: $textBlue;
                font-size: $font-size/1.05;
                display: inline;
            }
            .readMore { // CSS for the Read More button
                color: $priceBlue;
                font-size: $font-size*1.05;
                display: inline;
                background: none;
                border: none;
                &:hover {
                    cursor: pointer;
                }
            }
            .notInterestedDiv { // The container for the Not Interested button
                display: flex;
                margin: 1.5rem 0 0.8rem 0;
            }
                .notInterested { // CSS for the Not Interested Button
                    color: $notInterestedRed;
                    border: .1rem solid $notInterestedRed;
                    border-radius: .2rem;
                    padding: .06rem 3.5rem;
                    font-size: $font-size*1.1;
                    margin: 0 auto;
                    &:hover {
                        cursor: pointer;
                        background-color: $notInterestedRed;
                        color: $cityCards;
                    }
                }