body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

body {
  background-color: #d5d2cf;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#title {
  text-align: center;
  font-size: 3rem;
}

.cityCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  width: 50rem;
}

.cardContainer {
  background-color: #dcdad7;
  display: inline-flex;
  flex-direction: column;
  margin: 1.5rem 0;
  margin: 0;
  box-shadow: 0 0 2rem darkgray;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}

.image {
  width: 100%;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  width: 50rem;
  height: 25rem;
  padding: 0;
  border-radius: 0.5rem 0.5rem 0 0;
}

.textContainer {
  padding: 1rem 2rem 1.5rem 2rem;
}

.tourName {
  color: #404040;
  font-weight: 700;
  font-size: 1.404rem;
  display: inline-flex;
}

.price {
  color: #489dd0;
  background-color: #d5d2cf;
  font-weight: 700;
  font-size: 1.3rem;
  display: inline-flex;
  float: right;
  letter-spacing: 0.1rem;
  padding: 0.3rem;
  border-radius: 0.25rem;
}

.info {
  color: #437dba;
  font-size: 1.2380952381rem;
  display: inline;
}

.readMore {
  color: #489dd0;
  font-size: 1.365rem;
  display: inline;
}
.readMore:hover {
  cursor: pointer;
}

.notInterestedDiv {
  display: flex;
  margin: 1.5rem 0 0.8rem 0;
}

.notInterested {
  color: #a20808;
  border: 0.1rem solid #a20808;
  border-radius: 0.2rem;
  padding: 0.06rem 3.5rem;
  font-size: 1.43rem;
  margin: 0 auto;
}
.notInterested:hover {
  cursor: pointer;
  background-color: #a20808;
  color: #dcdad7;
}

.happyFace, .sadFace {
  margin: 0 auto;
  position: relative;
  background: #e8f5e9;
  height: 14rem;
  width: 14rem;
  border: 0.56rem solid #a5d6a7;
  border-radius: 50%;
}
.happyFace:after, .sadFace:after, .happyFace:before, .sadFace:before {
  content: "";
  position: absolute;
}
.happyFace:after, .sadFace:after {
  content: ". .";
  font-size: 8.4rem;
  text-align: center;
  color: #a5d6a7;
  width: 7rem;
  top: -1.12rem;
  left: 3.5rem;
}
.happyFace:before, .sadFace:before {
  bottom: 4.2rem;
  border-radius: 50%;
  border: 0.42rem solid transparent;
  border-bottom-color: #a5d6a7;
  height: 9.1rem;
  right: 2.38rem;
  width: 8.4rem;
}

.sadFace {
  background: #ffebee;
  border-color: #ef9a9a;
}
.sadFace:after {
  color: #ef9a9a;
}
.sadFace:before {
  bottom: -4.2rem;
  border-bottom-color: transparent;
  border-top-color: #ef9a9a;
}

.bodyContainer {
  width: 100%;
  height: 100vh;
  background: white;
}

#errorContainer {
  width: 70rem;
  display: flex;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#faceContainer {
  width: 20rem;
  margin-top: 3rem;
}

#textContainer {
  width: 50rem;
  padding: 0;
}

#errorTitle {
  font-size: 7rem;
  margin: 0;
}

#errorSubtitle {
  font-size: 3.5rem;
  margin: 0 0 1rem 0;
}

#errorText {
  font-size: 2.3333333333rem;
  margin: 0 0 1rem 0;
}

#errorReload {
  font-size: 2.5454545455rem;
  margin: 0;
  color: royalblue;
}
#errorReload:hover {
  cursor: pointer;
}

.loader {
  /* Where the square is positioned */
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  /* Square Size */
  width: 6em;
  height: 6em;
  /* Square Thickness and colors */
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  /* Makes the square a Circle */
  border-radius: 100%;
  /* Spinning speed */
  -webkit-animation: load8 1.1s infinite linear;
          animation: load8 1.1s infinite linear;
}

.background {
  width: 100%;
  height: 100vh;
  background: white;
}

@-webkit-keyframes load8 {
  /* Rotates 360 degrees in the alloted time */
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  /* Rotates 360 degrees in the alloted time */
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */