.loader {
    /* Where the square is positioned */
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);

    /* Square Size */
    width: 6em;
    height: 6em;

    /* Square Thickness and colors */
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;

    /* Makes the square a Circle */
    border-radius: 100%;

    /* Spinning speed */
    animation: load8 1.1s infinite linear;
}
.background {
    width: 100%;
    height: 100vh;
    background: white;
}

@keyframes load8 {
    /* Rotates 360 degrees in the alloted time */
    100% {
        transform: rotate(360deg);
    }
}