@import '../theme/defaultTheme';

$img-width: 50rem;
$font-size: 1.3rem;
$container-border-radius: .5rem;

.cityCards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    width: $img-width;
}
    .cardContainer {
        background-color: $cityCards;
        display: inline-flex;
        flex-direction: column;
        margin: $img-width*0.03 0;
        margin: 0;
        box-shadow: 0 0 2rem darkgray;
        border-radius: $container-border-radius;
        margin-bottom: 3rem;
    }
        .image {
            width: 100%;
            display: flex;
            object-fit: cover;
            width: $img-width;
            height: $img-width/2;
            padding: 0;
            border-radius: $container-border-radius $container-border-radius 0 0;
        }
        .textContainer {
            padding: 1rem 2rem 1.5rem 2rem;
        }
            .tourName {
                color: $offBlack;
                font-weight: 700;
                font-size: $font-size*1.08;
                display: inline-flex;
            }
            .price {
                color: $priceBlue;
                background-color: $bodyBackground;
                font-weight: 700;
                font-size: $font-size;
                display: inline-flex;
                float: right;
                letter-spacing: .1rem;
                padding: .3rem;
                border-radius: .25rem;
            }
            .info {
                color: $textBlue;
                font-size: $font-size/1.05;
                display: inline;
            }
            .readMore {
                color: $priceBlue;
                font-size: $font-size*1.05;
                display: inline;
                &:hover {
                    cursor: pointer;
                }
            }
            .notInterestedDiv {
                display: flex;
                margin: 1.5rem 0 0.8rem 0;
            }
                .notInterested {
                    color: $notInterestedRed;
                    border: .1rem solid $notInterestedRed;
                    border-radius: .2rem;
                    padding: .06rem 3.5rem;
                    font-size: $font-size*1.1;
                    margin: 0 auto;
                    &:hover {
                        cursor: pointer;
                        background-color: $notInterestedRed;
                        color: $cityCards;
                    }
                }